.container {
  padding: 20px;
  margin-left: 20px;
}

h1{
  margin-top: 20px;
  text-align: center;
  color: teal;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 8px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: rgb(111, 112, 112);
  box-shadow: #78ccac 0px 4px 10px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.status {
  text-align: center;
  margin-top: 40px;
}

.error {
  color: red;
}
